<h1>  <%= pluralize(@movies.size, 'Movie') %> found</h1>

<ul>
  <% @movies.each do |movie| %>
    <strong><li> <%= link_to(movie.title, movie) %> </strong> (<%=movie.rating %>):
    <% if format_movie_price(movie) == "Flop!"%>
      <strong><i><%= format_movie_price(movie).upcase%></i></strong>
    <% else %>
      <%= format_movie_price(movie)%>
    <% end %>
    <p>
      <b>Released:</b> <%= movie.released_on.strftime("%m/%d/%Y") %> | <%= time_ago_in_words(movie.released_on).capitalize %> ago
    </p>
   </li>
   <p>
     <b>Description:</b> <%= truncate(movie.description, length:40, separator: ' ') %>
   </p>
   ======================================
  <% end %>
</ul>