<h1>There are <%= @movies.size %> movie results returned.</h1>

<ul>
  <% @movies.each do |movie| %>
     <strong><li> <%=movie.title %></strong>
     (<%=movie.rating %>):
     <%= number_to_currency(movie.total_gross) %>
     <p>
      <b>Released:</b> <%= movie.released_on.strftime("%m/%d/%Y") %>
     </p>
   </li>
   <p>
     <b>Description:</b> <%= movie.description %>
   </p>
   ======================================
  <% end %>
</ul>