<h1>There are <%= @events.size %> Events</h1>

Listing generated at <%= @t.strftime("%r")  %>

<ul>
  <% @events.each do |event| %>
     <strong><li> <%=event.name %></strong>
     in <strong><%=event.location %></strong>:
     <%= number_to_currency(event.price) %></li>
  <% end %>
</ul>